/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "";
  display-window: "﩯 ";
  display-combi: "  ";
}
//@theme "themes/sidetab-nord.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
